<div>
  <mat-form-field class="field input">
    <mat-label>Amount</mat-label>
    <input matInput type="number" (input)="sendAmount1Handler($event)" [valueAsNumber]="amount1" min="0">
  </mat-form-field>
  <mat-form-field class="field select">
    <mat-label>Currency</mat-label>
    <mat-select [(value)]="currency1" (selectionChange)="sendCurrency1Handler($event)">
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{currency}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="field input">
    <mat-label>Amount</mat-label>
    <input matInput type="number" (input)="sendAmount2Handler($event)" [valueAsNumber]="amount2" min="0">
  </mat-form-field>
  <mat-form-field class="field select">
    <mat-label>Currency</mat-label>
    <mat-select [(value)]="currency2" (selectionChange)="sendCurrency2Handler($event)">
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{currency}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
